@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  form{
    padding: 20px;
    margin-top: 60px;
  }
  
  form button, form h5{
    margin: 20px 0;
  }
